 <header class="main-header">
    <a href="/" class="brand-logo">
      <img src="/images/easysublogo.png" class="logoimage">
      <div class="brand-logo-name">EasySub</div>
    </a>
    <nav class="main-nav">
      <ul>
        <!-- <li><a href="discover.html">Discover</a></li>
        <li><a href="join.html">Join</a></li> -->
      </ul>
    </nav>
  </header>